*{
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}


.container{
    /* background-color: aliceblue;
    border: 10px;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* width: 100px; */
    min-height: 100vh;
    padding:10px;
    background: linear-gradient(135deg,#580909,#5f1c0840);
    

}
.center{
    width: 100vh;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.center h1{
    color: #076185;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.center h1 img{
    width: 40px;
    margin-left: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1446bc26;
    border-radius: 30px;
    padding-left: 23px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}
button{
    border: none;
    outline: none;
    padding: 12px;
    background: #3e6075;
    color: #fcfcfc;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    padding: 20px 28px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 13px 19px 14px 28px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 19px;
    border-radius: 50%;
    background-image: url(image/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(image/images/checked.png);
}
ul li span{
    position: absolute;
    right: 0%;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
ul li span:hover{
    background: #e60c0c;
}
